.search-results {
    display:flex;
    flex-direction: column;
    gap:10px;

    &__subtitle {
        font-size: 2rem;
        margin-bottom: 1rem;
        color:black
    }

    .search_result {
        display: flex;
        flex-direction: column;
        p {
            margin-top: 5px;
            font-size: 14px;
        }
    }
}
