
main{
    p, ul, ol, img{
        margin: 2rem 0;
    }
    img{
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center center;
    }
    ul, ol{
        padding-left: 2rem;
        box-sizing: border-box;
        li{
            margin: 1rem 0;
            &::marker{
                color: var(--active);
            }
        }
    }
}
a{
    color: var(--active);
}


h1, .h1{
    display: block;
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-size: 4.3rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--active);
}
h2, .h2{
    display: block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--active);
}
h3, .h3{
    display: block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3.2rem;
    font-weight: 500;
     line-height: 1.2;
     color: var(--active);
}
h4, .h4{
    display: block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2.8rem;
    font-weight: 500;
     line-height: 1.2;
     color: var(--active);
}
h5, .h5{
    display: block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 500;
     line-height: 1.2;
     color: var(--active);
}
h6, .h6{
    display: block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--active);
}
b{
    font-weight: 600;
}
abbr{
    text-decoration: none;
    font-weight: 600;
}
.subtitle{
    font-size: 1.8rem;
    // color: var(--grey-color);
}
blockquote{
    position: relative;
    padding: 2rem 0 2rem 6rem;
    margin: 0;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5rem;
        height: 5rem;
        background-color: var(--active);
        -webkit-mask-image: url(../img/quote-svgrepo-com.svg);
        mask-image: url(../img/quote-svgrepo-com.svg);
        -webkit-mask-size: contain;
                mask-size: contain;
        -webkit-mask-position: center center;
                mask-position: center center;
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        opacity: 0.5;
    }
    p{
        margin-top: 0;
    }
    footer{
        text-align: right;
    }
}
.table-box{
    position: relative;
    margin: 2rem 0;
    overflow: auto;
}
.table{
    width: 99.9%;
    th{
        text-align: left;
    }
    th, td{
        padding: 1rem;
        border: 1px solid var(--black);
        box-sizing: border-box;
    }
}


// ================================
@media screen and (max-width: 700px){

    h1, .h1{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        // font-size: 4.8rem;
    }
    h2, .h2{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 4.2rem;
    }
    h3, .h3{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        // font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.2;
    }
    h4, .h4{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        // font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
    }
    h5, .h5{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        // font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2;
    }
    h6, .h6{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        // font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2;
    }
}

@media screen and (max-width: 600px){
    h1, .h1{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 3.8rem;
    }
    h2, .h2{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 3.4rem;
    }
    h3, .h3{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
    }
    h4, .h4{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.2;
    }
    h5, .h5{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
    }
    h6, .h6{
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2;
    }
}
@media screen and (max-width: 500px){
    blockquote{
        padding: 2rem 0 2rem 5rem;
        &::before {
            content: "";
            position: absolute;
            top: 0.5rem;
            width: 5rem;
            height: 5rem;
        }
    }
}
