.common-viz {

    #header {
        border-bottom: 1px solid var(--text-color);

        .close_menu {
            &.active {
                display: block;
            }
        }

        .burger {
            z-index: 1;
        }

        .poor_eyesight {
            display: none;
        }
    }

    .vizpanel,
    .resourse__grid {
        display: block;
    }


    .poor_eyesight,
    .resource__sl {
        display: none;
    }
}


// ===============стили текущего сайта===========
.common-viz { 
    .ip-tab-controller {
        .ip-tab-controller__btn{
            &.active { 
                border-bottom: 2px solid var(--viz-yellow);
            }
        }
    }
    .header-control-btn--poor-eyesight{
        display: none;
    }
    .form-elem {
        .form-elem__field{
            border: 1px solid var(--black);
            box-shadow: none;
        }
        .form-elem__textarea{
            border: 1px solid var(--black);
            box-shadow: none;
        }
    }
    .breadcrumbs { 
        font-size: 1.4rem;
    }
    .btn {
        &:hover {
            background-color: var(--viz-yellow);
            color: var(--active);
        }
    }

    .indecators,
    .advantages,
    .news,
    .useful-resource,
    .doc-link,
    .industrial-area {
        border: 1px solid var(--black);
        box-shadow: none;
    }

    #header {
        background-image: none !important;
        border-bottom: 1px solid var(--black);

        .page-title {
            color: var(--black);
        }

        .header__top {
            background-color: var(--black);
        }
    }

    .header-sl-item {
        .header-sl-item__title {
            color: var(--black);
        }
    }

    .header-sl-item-parameters {
        .header-sl-item-parameters__value,
        .header-sl-item-parameters__deskription {
            color: var(--black);
        }
    }

    .header-sl-box__pagination { 
        .swiper-button-prev,
        .swiper-button-next {
            border: 1px solid var(--black);
            &::after{
                color:var(--black);
            }
            &:hover{
                background-color: var(--viz-yellow);
            } 
        }
    }

    .header-sl {
        .header-sl__item {
            background-image: none !important;
            background-color: var(--bg);
        }
    }
 
    .side-menu-container {
        .close-cross {
            &:hover { 
                &::after,
                &::before {
                    background-color: var(--viz-yellow);
                }
            }

        }
    }
    .indecators{
        padding: 40px;
    }
    .indecators-grid, .advantages-grid, .news-grid{
        grid-gap: 40px;
    }
    .indecators-grid { 
        grid-template-columns: repeat(2, 1fr); 
    }
    .government-support-section {
        .government-support-section__left-col{
            display: none;
        }
    }
    .invest-map-link-section{
        .inner{
            grid-template-columns: 1fr;
        }
    }
    .invest-map-link-section {
        .invest-map-link__left-right{
            display: none;
        }
    }
    .useful-resources-sl-box {
        .swiper-pagination {
            .swiper-pagination-bullet {
                background-color: var(--black);
                &.swiper-pagination-bullet-active{
                    background-color: var(--viz-yellow);
                }
            }
        }
    }
    .area-card{
        border: 1px solid var(--black);
        background-color: var(--light);
    }
    .pagination { 
        flex-wrap: wrap;
        
        .pagination__numbers {
            border: 1px solid var(--black);
        }

    }
}


// ============================================
@media screen and (max-width: 500px){
    .common-viz {
        .indecators-grid, 
        .advantages-grid, 
        .news-grid {
            grid-gap: 20px;
        }
    }
    
}