.font-size_large{
    .vizpanel .vizpanel__block .fs_large.vizpanel__block__btn-arrow::after{
        visibility: visible;
    }
}

// -----------------стили текущего сайта------------------------
.font-size_large{
    #header {
        .header__top {
            .header__control-panel{
                margin-left: auto;
            }
            nav{
                display: none;
            }
        }
    }
    .header-sl-item {
        .header-sl-item__title{
            font-size: 5rem;
        }
    }
    .header-sl-item-parameters {
        .header-sl-item-parameters__value{
            font-size: 3rem;
        }
    }
}




// =====================================================
@media screen and (max-width: 1450px){
    .font-size_large{
        .one-win-steps-box { 
            grid-template-columns: repeat(2, 1fr); 
        }
    } 
}
@media screen and (max-width: 1300px){
    .font-size_large{
        #footer {
            .footer__top {
                .inner{
                    flex-wrap: wrap;
                }
            }
            .footer__bottom {
                .inner{
                    flex-wrap: wrap;
                }
            }
        }
      
    }
}
@media screen and (max-width: 1100px){
    .font-size_large {
        .one-win-steps-box { 
            grid-template-columns: repeat(1, 1fr); 
        }
         .news-grid {
            grid-template-columns: 1fr;
        } 
        
        .greeting-section {
            .inner {
                gap: 2rem;
                flex-direction: column;
            }
            .governor { 
                max-width: 600px; 
                width: 100%;
                margin: 0 auto;
            }
            .governor-message { 
                width: 100%; 
            }
        }
         .indecators-grid {
            grid-template-columns: 1fr;
        }
        .government-support-section .government-support-section__right-col::after{
            display: none;
        }
        .government-support-section .inner{
            grid-template-columns: 1fr;
        }
        .columns-box{
            &--two-col {
                grid-template-columns: 1fr;
            }
            &-tree-col {
                grid-template-columns: 1fr;
            }
        }
        .irtse-item-box {
            grid-template-columns: 1fr;
        }
        .person{
            flex-direction: column;
            .person__photo {
                max-width: 100%;
                width: 80%;
                margin: 0 auto;
            }
        }
        .one-win-steps-box {
            grid-template-columns: 1fr;
        }
    } 
}
@media screen and (max-width: 1000px){
    .font-size_large{
        .industrial-area{
            flex-direction: column;
            .industrial-area__img-box{
                width: 100%;
            }
            .industrial-area__info-box{
                width: 100%;
                padding: 20px;
            }
        }
        .area-card{
            flex-direction: column;
            .area-card__img-box {
                width: 100%;
            }
            .area-card__info{
                width: 100%;
                padding: 20px;
            }
        }
    }
    
}
@media screen and (max-width: 700px){
    .font-size_large{
        #footer {
            .footer__bottom {
                .inner{
                    flex-direction: column;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    body{
        &.font-size_large{
            font-size: 1.1rem;
        }
       
    }
    .font-size_large{
          #header .header__top .header__control-panel{
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        .header-sl-item .header-sl-item__title {
            font-size: 2rem;
        }
        .header-sl-item-parameters .header-sl-item-parameters__deskription {
            font-size: 1.2rem;
        }
          .header-sl-item-parameters .header-sl-item-parameters__value {
                font-size: 1.6rem;
            }
        .greeting-section {
            .governor-message{
                h2 {
                    margin-top: 0;
                    font-size: 2rem;
                    color: var(--active);
                }
            }
        }
        .advantages::before {
            display: none;
        }
        .advantages {
            .advantages__caption {
                font-size: 1.3rem;
            }
            .advantages__description {  
                font-sizE: 1.2rem;
            }
        }
      
        h2, .h2 { 
            margin-bottom: 1rem;
            margin-top: 1.6rem;
            font-size: 1.6rem; 
        }
        .invest-map-link-section .invest-map-link__left-col p {
            font-size: 1.4rem;
        }
        .logo {
            .logo__text {
                font-size: 1.1rem; 
            }
        }
        .indecators {
            padding: 10px;
        }

        .indecators {
            .indecators__indicator {
                font-size: 2rem;
            }
            .indecators__arrow { 
                top: 1rem;
                right: 1rem; 
                width: 2rem;
                height: 2rem;
            }
             .indecators__period{
                font-size: 1.4rem;
             }
            .indecators__field-of-activity {
                font-weight: 500;
                line-height: 1.3;
                font-size: 1.2rem;
            }
        }
        .submenu {
            li {
                a { 
                    font-size: 1.4rem; 
                }
            }
        }
        h1, .h1 {
            display: block;
            margin-bottom: 1rem;
            margin-top: 2rem;
            font-size: 2.4rem;
        }
      
    }
    
}
@media screen and (max-width: 400px){
    .font-size_large{
        #header {
            .header__bottom {
                padding-top: 22rem;
                padding-bottom: 4rem;
            }
        }
    }
   
}