.theme_green{
    .vizpanel-big-btn{
        border: 3px solid var(--text-color);
        background-color: var(--text-color);
        box-shadow: inset 0 0 0 2px var(--bg-color);
        color: var(--bg-color);

        &:hover{
            border: 3px solid var(--viz-yellow);
            background-color: var(--viz-yellow);
            box-shadow: inset 0 0 0 2px var(--bg-color);
            color: var(--bg-color);
        }
    }
}

// -----------------стили текущего сайта------------------------
.theme_green{
    .project-stage--completed::after {
        border: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-image: url(http://127.0.0.1:5173/public/img/stages-checked-icon-green.svg);
    }
    .project-cell-porgress {
        .project-cell-porgress__text{
            color: #3b2716;
        }
    }
}
