#header{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--light);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
    .header__top{
        position: relative;
        padding: 2rem 0;
        width: 100%;
        z-index: 1;
        .inner{
            max-width: 1700px;
            display: flex;
            align-items: center;
            gap: 20px;
        }

        nav{
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .close-cross{
                display: none;
            }
        }
        .search-form{
            position: absolute;
            left: 0;
            top: 120%;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transition: var(--great-transition);
            &.show{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .header__bottom{
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 6rem;
        box-sizing: border-box;
        .inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
        }
        .btn{
            width: 100%;
            max-width: 38rem;
        }
        .header-bottom__column-links{
            display: flex;
            gap: 3rem;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 5rem;
        }
        .header-bottom__row-links{
            display: flex;
            gap: 3rem;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }

    }

    .header-video-bg-box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            // background-color: rgba(0, 0, 0, 0.1);
            background-color: rgba(23, 23, 23, 0.25);
        }
    }
    .bg-video{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 103%;
        height: auto;
        transform: translate(-50%, -50%);
    }
    &.header-inner{
        min-height: auto;
    }
    .page-title{
        color: var(--light);
    }
    .header__page-info{
        padding-top: 2rem;
        box-sizing: border-box;
    }
    .breadcrumbs{
        margin-top: 3rem;
    }
}

.logo{
    flex-shrink: 0;
    position: relative;
    display: block;
    max-width: 235px;
    height: 34px;
    width: 100%;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--light);
        -webkit-mask-image: url(../img/logo.svg);
        mask-image: url(../img/logo.svg);
        -webkit-mask-size: contain;
                mask-size: contain;
        -webkit-mask-position: center center;
                mask-position: center center;
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
    }
}
.loupe-btn{
    flex-shrink: 0;
    position: relative;
    display: block;
    background-color: transparent;
    width: 4.6rem;
    height: 3.5rem;
    border-radius: 3px;
    border: 1px solid var(--light);
    transition: var(--great-transition);
    &::after{
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 50%;
        left: 50%;
        // width: 100%;
        // height: 100%;
        background-color: var(--light);
        -webkit-mask-image: url(../img/loup-icon.svg);
        mask-image: url(../img/loup-icon.svg);
        -webkit-mask-size: contain;
                mask-size: contain;
        -webkit-mask-position: center center;
                mask-position: center center;
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        transform: translate(-50%, -50%);
        transition: var(--great-transition);
    }
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2rem;
        height: 2rem;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;

        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--blue-color);
            transform: translateY(-50%) rotate(45deg);
            transition: var(--great-transition);
        }
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--blue-color);
            transform: translateY(-50%) rotate(-45deg);
            transition: var(--great-transition);
        }

    }
    &:hover{
        background-color: var(--light);
        &::after{
            background-color: var(--blue-color);
        }
    }

    &.active{
        background-color: var(--light);
        span{
            opacity: 1;
            visibility: visible;
        }
        &::after{
            opacity: 0;
            visibility: hidden;
        }
        &:hover{
            span{
                &::after,
                &::before{
                    background-color: var(--alert-color);
                }
            }
        }
    }

}
.main-menu{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 0;
    margin: 0;
    li{
        display: flex;
        align-items: center;
        .main-menu__first-level{
            display: flex;
            gap: 5px;
            flex-grow: 1;
            align-items: center;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--light);
            font-size: 1.5rem;
            font-weight: 500;
            transition: var(--great-transition);
            &:hover{
                text-decoration: none;
                // color: var(--blue-color)
            }
        }
        &.main-menu__parent-item {
            .main-menu__first-level{
                a{
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        top: 155%;
                        left: 50%;
                        width: 18px;
                        height: 10px;
                        background-color: var(--light);
                        -webkit-mask-image: url(../img/bigfullarrow.svg);
                        mask-image: url(../img/bigfullarrow.svg);
                        -webkit-mask-size: contain;
                                mask-size: contain;
                        -webkit-mask-position: center center;
                                mask-position: center center;
                        -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                        transform: translate(-50%, -50%);
                        transition: var(--great-transition);
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
        .btn-show-submenu{
            flex-shrink: 0;
            display: block;
            width: 1.2rem;
            height: 1.2rem;
            background-color: var(--light);
            -webkit-mask-image: url(../img/arrow-down-icon.svg);
            mask-image: url(../img/arrow-down-icon.svg);
            -webkit-mask-size: contain;
                    mask-size: contain;
            -webkit-mask-position: center center;
                    mask-position: center center;
            -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
            transition: var(--great-transition);
            transform: scale(1);
        }

        ul{
            list-style-type: none;
            background-color: var(--light);
            position: absolute;
            top: 123%;
            left: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 3rem 5rem;
            border-radius: 10px;
            opacity: 0;
            visibility: hidden;
            transition: var(--great-transition);
            box-shadow: 0 1.4rem 1.6rem -1rem var(--black);
            margin: 0;
            box-sizing: border-box;
            li{
                a{
                    color: var(--black);
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        &:hover{
            ul{
                opacity: 1;
                visibility: visible;
            }
            .btn-show-submenu{
                transform: scale(-1);
            }
            &.main-menu__parent-item{
                .main-menu__first-level{
                    a{
                        &::after{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }


    }
}

.lang-version{
    position: relative;
    .lang-version__item{
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.6rem;
        height: 3.5rem;
        border-radius: 3px;
        border: 1px solid var(--light);
        color: var(--light);
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        transition: var(--great-transition);
        &--hide{
            position: absolute;
            top: 110%;
            left: 0;
            opacity: 0;
            visibility: hidden;
        }
        &:hover{
            text-decoration: none;
            border: 1px solid var(--light);
            color: var(--blue-color);
            background-color: var(--light);
        }
    }
    &:hover{
        .lang-version__item{
            &--hide{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}


.main-slogan{
    color: var(--light);
    text-align: center;
    .main-slogan-big{
        display: block;
        font-size: 8rem;
        font-weight: 600;
    }
    .main-slogan-small{
        display: block;
        font-size: 3rem;
        font-weight: 600;
    }
}
.boorger-btn{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 4.6rem;
    height: 3.5rem;
    border-radius: 3px;
    border: 1px solid var(--light);
    transition: var(--great-transition);
    .boorger-btn__icon{
        position: relative;
        display: block;
        width: 2.5rem;
        height: 1.6rem;
        span{
            position: absolute;
            display: block;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--light);
            transform: translateY(-50%);
            opacity: 1;
            visibility: visible;
            transition: var(--great-transition);
        }
        &::before{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--light);
            transition: var(--great-transition);
        }
        &::after{
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--light);
            transition: var(--great-transition);
        }
    }
    &:hover{
        background-color: var(--light);
        .boorger-btn__icon{
            span, &::before, &::after{
                background-color: var(--blue-color);
            }
        }
    }

}
.close-cross{
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--black);
        transform: translateY(-50%) rotate(45deg);
        transition: var(--great-transition);
    }
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--black);
        transform: translateY(-50%) rotate(-45deg);
        transition: var(--great-transition);
    }
}
// ===================================================
@media screen and (max-width: 1600px){
    #header {
        .header__top {
            .inner{
                flex-wrap: wrap;
            }
            nav{
                order: 1;
                width: 100%;
                .main-menu{
                    width: 100%;
                    justify-content: space-evenly;
                    li {
                        &.main-menu__parent-item {
                            .main-menu__first-level{
                                a{
                                    &::after{
                                        top: 136%;
                                    }
                                }
                            }
                        }
                        ul{
                            top: 100%;
                        }
                    }

                }
            }
            .lang-version{
                margin-left: auto;
            }
        }
    }
    .lang-version {
        .lang-version__item{
            &--hide{
                position: absolute;
                top: 0;
                left: auto;
                opacity: 0;
                visibility: hidden;
                right: 110%;
            }
        }
    }
}
@media screen and (max-width: 1480px){
    #header{
        .bg-video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: 100%;
            transform: translate(-50%, -50%);
        }
    }
}
@media screen and (max-width: 1300px){
    #header {
        .header__top {
            nav{
                .main-menu{
                    gap: 2rem;
                    justify-content: space-between;
                }
            }
        }
    }
}
@media screen and (max-width: 1150px){
    .boorger-btn{
        display: flex;
    }
    #header {
        .header__top {
            nav{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                align-items: flex-start;
                padding: 5rem 3rem;
                background-color: rgba(10, 4, 5, 0.8);
                -webkit-backdrop-filter: blur(7px);
                backdrop-filter: blur(7px);
                z-index: 10;
                overflow: auto;
                box-sizing: border-box;
                opacity: 0;
                visibility: hidden;
                transition: var(--great-transition);
                .close-cross{
                    position: absolute;
                    top: 3rem;
                    right: 3rem;
                    display: block;
                    &::before, &::after{
                        background-color: var(--light);
                    }
                }
                &.show-menu{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .main-menu{
        flex-direction: column;
        // justify-content: flex-start;
        li{
            flex-wrap: wrap;
            .main-menu__first-level{
                gap: 1rem;
            }

            a{
                font-size: 2rem;
                font-weight: 400;
                &::after{
                    display: none;
                }
            }
            .btn-show-submenu{
                width: 1.8rem;
                height: 1.8rem;
                &--active{
                    transform: scale(-1) !important;
                }
            }
            ul{
                position: relative;
                width: 100%;
                height: 0;
                margin: 0;
                padding: 0rem 0 0rem 2rem;
                gap: 1.5rem;
                background-color: transparent;
                display: block;
                opacity: 1;
                visibility: visible;
                box-shadow: none;
                overflow: hidden;
                transition: var(--great-transition);
                li{
                    margin-top: 1rem;
                    a{
                        color: var(--light);
                        font-size: 1.6rem;
                    }
                }
            }
            &:hover{
                .btn-show-submenu {
                    transform: scale(1);
                }
            }
            &.main-menu__parent-item {
                &> a{
                    &::after{
                        display: none;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 999px){
    .main-slogan {
        .main-slogan-big {
            font-size: 7rem;
        }
        .main-slogan-small {
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: 650px){
    .main-slogan {
        .main-slogan-big {
            font-size: 6rem;
        }
        .main-slogan-small {
            font-size: 2.5rem;
        }
    }
    #header {
        .header__top {
            .inner {
                gap: 1rem;
            }
        }
        .header__bottom {
            .header-bottom__column-links {
                gap: 2rem;
                margin-top: 3rem;
            }
        }
    }
}
@media screen and (max-width: 520px){
    .main-slogan {
        .main-slogan-big {
            font-size: 4rem;
        }
        .main-slogan-small {
            font-size: 1.8rem;
        }
    }
    .lang-version {
        .lang-version__item--hide {
            position: absolute;
            top: 121%;;
            left: auto;
            opacity: 0;
            visibility: hidden;
            right: auto;
        }
    }
}

@media screen and (max-width: 440px){
    .logo {
        max-width: 170px;
    }
}
@media screen and (max-width: 360px){
    #header {
        .header__top{
            .inner{
                justify-content: center;
            }
            .lang-version {
                margin-left: 0;
            }
        }
        .header__bottom {
            .header-bottom__column-links {
                margin-top: 0rem;
            }
        }
    }
    .logo {
        width: 100%;
        flex-shrink: 0;
        position: relative;
        display: block;
        max-width: 280px;
        height: 34px;
        width: 100%;
    }
    .main-slogan {
        .main-slogan-big {
            font-size: 3rem;
        }
    }
}


