.sprout-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/sprout-icon.svg);
    mask-image: url(../img/sprout-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.mapmarker-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/mapmarker-icon.svg);
    mask-image: url(../img/mapmarker-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.lamp-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/lamp-icon.svg);
    mask-image: url(../img/lamp-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.truck-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/truck-icon.svg);
    mask-image: url(../img/truck-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.money-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/money-icon.svg);
    mask-image: url(../img/money-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.transport-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/transport-icon.svg);
    mask-image: url(../img/transport-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.map-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/map-icon.svg);
    mask-image: url(../img/map-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.analitic-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/analitic-icon.svg);
    mask-image: url(../img/analitic-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.procent-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/procent-icon.svg);
    mask-image: url(../img/procent-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.list-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/list-icon.svg);
    mask-image: url(../img/list-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.paper-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/paper-icon.svg);
    mask-image: url(../img/paper-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.payment-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/payment-icon.svg);
    mask-image: url(../img/payment-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.company_up-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/company_up-icon.svg);
    mask-image: url(../img/company_up-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.form-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/form-icon.svg);
    mask-image: url(../img/form-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.company-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/company-icon.svg);
    mask-image: url(../img/company-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.market-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/market-icon.svg);
    mask-image: url(../img/market-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.message-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/message-icon.svg);
    mask-image: url(../img/message-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.lk-icon{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    -webkit-mask-image: url(../img/lk-icon.svg);
    mask-image: url(../img/lk-icon.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
